label
{
display: block;
cursor: pointer;
position: relative;
}
button
{
text-align: center;	
}
label.input
{
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
#SH
{
	text-align: center;
	display:none;
}
#b
{
	display:none;
}
body
{
	font-family:cursive;
	font-size: 20px;
	bac
	background-repeat: no-repeat;
	background-size:cover;
	background-position: ce;
}